<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acorn.boardMapper">


	<!-- String board_name; String user_id; int post_id; String post_title; 
		String post_content; int uppost; int downpost; String post_date; String post_time; 
		int post_viewes; -->

	<!-- resultMap 사용하는 경우 테이블의 컬러명과 DTO객체의 속성명이 다른경우 -->




	<!-- 쿼리 결과 컬럼명을 기준으로 객체를 바인딩한다. 컬럼명과 속성명이 다르면 값이 들어가지 않는다. -->

	<select id="postview" parameterType="int"
		resultType="CommunityDetailDTO">
		SELECT * FROM post
		WHERE post_id = #{postId}
	</select>

	<select id="comment" parameterType="int" resultType="CommentDTO">
		SELECT
		commentNumber,
		post_id,
		commentcontent,
		DATE_FORMAT(commentdatetime, '%Y-%m-%d %H:%i:%s') AS commentdatetime,
		user_id
		FROM comments
		WHERE post_id = #{postid}
		ORDER BY CommentDatetime ASC
	</select>
	
	<insert id="insertComment" parameterType="com.acorn.racket.community.domain.CommentinsertDTO">        
        INSERT INTO comments (post_id, commentcontent, commentdatetime, user_id)
		VALUES (#{post_id}, #{commentcontent} , #{commentdatetime}, #{user_id});
    </insert>
	
	<select id="insertCommentview" parameterType="ajaxCommentDTO"  resultType="CommentDTO">
		SELECT *
		FROM comments
		WHERE post_id = #{post_id} AND user_id = #{user_id} AND commentdatetime = #{commentdatetime}
	</select>
	<insert id="insertPost" parameterType="InsertPostDTO">
		INSERT INTO post (board_name, user_id, post_title, post_content, post_date, post_time)
		VALUES (#{board_name} , #{user_id} , #{post_title} , #{post_content} ,#{post_date} , #{post_time} )
	</insert>
	

	<select id="getreply" parameterType="int" resultType="replyDTO">
			select commentnumber , post_id , commentcontent , commentdatetime , user_id
			from reply
			where post_id = #{post_id}
	</select>
</mapper>
<!-- 쿼리결과 컬럼명과 객체의 속성이 다른경우 resultMap을 사용해서 해당컬럼의 속성을 임의로 정할 수 있다. <select 
	id="selectAll2" resultMap="orderResult"> SELECT orderno, o.userid , username, 
	tel , price FROM ordera o JOIN membera m ON o.userid = m.userid </select> -->
