<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.facMapper">

<!-- 필터 검색 기능 -->
<select id="selectF" resultType="facDTO" parameterType="java.util.HashMap">
	select * from facilityTbl 
		<if test="">
		
		</if>
</select>

<!-- 전체 시설 목록 불러오기 -->
<select id="selectAll" resultType="facDTO">
	 select * from facilitytbl ORDER BY CASE 
         WHEN service_status = '접수중' THEN 1
         WHEN service_status = '안내중' THEN 2 
         WHEN service_status = '예약일시중지' THEN 3
         WHEN service_status = '예약마감' THEN 4
         ELSE 5
         END
         limit #{limit} offset #{offset}
</select>

<!-- 특정 종목 불러오기 -->
<select id="selectSport" resultType="FacDTO">
	 select * from facilitytbl where minclassname like concat ('%',#{sport},'%') ORDER BY CASE 
         WHEN service_status = '접수중' THEN 1
         WHEN service_status = '안내중' THEN 2 
         WHEN service_status = '예약일시중지' THEN 3
         WHEN service_status = '예약마감' THEN 4
         ELSE 5
         END
         limit #{limit} offset #{offset};
</select>

<!-- 특정 시설 상세보기 -->
<select id="selectDesc" resultType="facDTO" parameterType="String">
	select * from facilitytbl where facilityID = #{facID}
</select>	

<!-- api에서 받은 데이터 db에 insert -->
<insert id="insert" parameterType="java.util.List">
      insert into facilityTbl values
           <foreach collection="list" item="item" separator=",">
            (
            #{item.facilityID},
            #{item.minclassname},
            #{item.service_status},
            #{item.facName},
            #{item.payment},
            #{item.place},
            #{item.service_target},
            #{item.url},
            #{item.location_x},
            #{item.location_y},
            #{item.service_start_day},
            #{item.service_end_day},
            #{item.reception_start_date},
            #{item.reception_end_date},
            #{item.region_name},
            #{item.image},
            #{item.details},
            #{item.tel_num},
            #{item.service_start_time},
            #{item.service_end_time}
            )
        </foreach>
  </insert>
</mapper>