<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="UserDTO" type="com.acorn.racket.login.domain.UserLoginDTO"/>
		
		<typeAlias alias="Club" type="com.acorn.racket.match.domain.Club" />  <!--DTO 파일명을 간결한 이름(alias)으로 지정 -->
		
		<!-- 시설 부분 -->
		<typeAlias alias="facDTO" type="com.acorn.racket.facility.domain.FacDTO"/>
		<typeAlias alias="reviewDTO" type="com.acorn.racket.facility.domain.ReviewDTO"/>
	  
		
		<!-- 커뮤니티 부분 -->
		<typeAlias alias="CommunityDetailDTO" type="com.acorn.racket.community.domain.CommunityDetailDTO"/>
		<typeAlias alias="CommentDTO" type="com.acorn.racket.community.domain.CommentDTO"/>
		<typeAlias alias="ajaxCommentDTO" type="com.acorn.racket.community.domain.ajaxCommentDTO"/>
		
		<!-- 매치 부분 -->
		<typeAlias alias="tennisDTO" type="com.acorn.racket.match.domain.tennisDTO"/>
		<typeAlias alias="tabletennisDTO" type="com.acorn.racket.match.domain.tabletennisDTO"/>
		<typeAlias alias="badmintonDTO" type="com.acorn.racket.match.domain.badmintonDTO"/>
		<typeAlias alias="MatchCreateDTO" type="com.acorn.racket.match.domain.MatchCreateDTO"/>
		<typeAlias alias="MatchViewDTO" type="com.acorn.racket.match.domain.MatchViewDTO"/>
		<typeAlias alias="matchdetailDTO" type="com.acorn.racket.match.domain.matchdetailDTO"/>
		<typeAlias alias="MatchDetailInsertDTO" type="com.acorn.racket.match.domain.MatchDetailInsertDTO"/>
		<typeAlias alias="MatchCreateInsertDTO" type="com.acorn.racket.match.domain.MatchCreateInsertDTO"/>
	</typeAliases>
</configuration>